<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% autoescape true %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Course Enrolled</title>
<link href="css/main.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
body {
	background-color: #FBFBFB;
}
-->
</style></head>

<body>
<div id="main" align="center">
  <div align="center" class="font-4" id="title"> 
    <p>Course Enrolled</p>
  </div>
<table width="95%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center"><table width="80%" border="0" cellpadding="5" cellspacing="0" id="enrol-detial1">
      {% for row in course %}
      <tr>
        <td width="20%" align="right" class="font-5">Course Code ::</td>
        <td>{{row[1]}}</td>
        <td width="20%" align="right" class="font-5">Credit ::</td>
        <td width="15%">
       <script type="text/javascript">

        var lecture,lab,credit
        lecture={{ row[4]}};
        lab={{ row[5] }};
        credit=(lab/3)+lecture;
        document.write(credit);
</script>  </td>
      </tr>
      <tr>
        <td align="right" class="font-5">Course Name ::</td>
        <td>{{row[2]}}</td>
        <td align="right" class="font-5">Total Capacity ::</td>
        <td>{{capacity}}</td>
      </tr>
      <tr>
        <td align="right" class="font-5">Faculity ::</td>
        <td>{{ row[11] }}</td>
        <td align="right" class="font-5">Total Enroll ::</td>
        <td>{{enroll}}</td>
      </tr>
      <tr>
        <td align="right" class="font-5">Department ::</td>
        <td>{{ row[10] }}</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
      <table width="80%" border="0" cellpadding="5" cellspacing="0" id="enrol-detial2">
        <tr>
          <td width="20%" align="right" valign="top" class="font-5">Prerequsite ::</td>
          <td valign="top">{{ prerequisite_code }}</td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td align="center">
    <div id="description">
    <table width="80%" border="0" cellpadding="5" cellspacing="0" id="enrol-detial3">
      <tr>
        <td class="font-5">Course Description </td>
        <td colspan="3" align="left">{{ row[3] }}</td>
      </tr>
      {% endfor %}

      <tr>
        <td class="font-1"><br /></td>
      </tr>
    </table
    ></div></td>
  </tr>
  <tr>
    <td align="center"><table width="80%" border="0" cellpadding="3" cellspacing="0" id="enroll">
      <tr>
        <td width="10%" align="center" bgcolor="#FFCC33">Section</td>
        <td width="20%" align="center" bgcolor="#FFCC33">Date</td>
        <td width="15%" align="center" bgcolor="#FFCC33">Time</td>
        <td align="center" bgcolor="#FFCC33">Professor</td>
        <td width="10%" align="center" bgcolor="#FFCC33">Total</td>
        <td align="center" bgcolor="#FFCC33"></td>
        </tr>
        {% for row in section %}
                {% for row2 in sectionregistered %}

      <tr>
        <td align="center" bgcolor="#FF9966">{{row[0]}}</td>
        <td align="center" bgcolor="#FF9966">{{row[1]}}</td>
        <td align="center" bgcolor="#FF9966">{{row[2]}}</td>
        <td align="center" bgcolor="#FF9966">{{row[3]}}</td>
        <td align="center" bgcolor="#FF9966">{{row[4]}}</td>
        <td align="center" bgcolor="#FF9966"> 


          {% if(row[6]==row2[0])  %}
          <input type='button' name='button' id='button' value='Enrolled' disabled />
           {% else %} 
           {% if(row[7]==row[8]) %}
          <a href="/Follow?student_id={{student_id}}&regiscourse_id={{row[5]}}&section_id={{row[6]}}">
            <input type='button' name='button' id='button' value='Follow' /></a>
            
           {% else %}  
          <a href="/Change?regiscourse_id={{row[5]}}&enroll={{row[7]}}&section_id={{row[6]}}&sec_id={{row2[0]}}&student_id={{student_id}}&course_code={{row[0]}}"><input type='button' name='button' id='button' value='Change' /></a>
          {% endif %}
          {% endif %}
        </td>
      </tr>
         {% endfor %}
                {% endfor %}

      <tr>
        <td align="center" bgcolor="#FFCC99">&nbsp;</td>
        <td align="center" bgcolor="#FFCC99">&nbsp;</td>
        <td align="center" bgcolor="#FFCC99">&nbsp;</td>
        <td align="center" bgcolor="#FFCC99">&nbsp;</td>
        <td width="10%" align="center" bgcolor="#FFCC99">&nbsp;</td>
        </tr>
    </table></td>
  </tr>
</table>
<div id="Close">
  <input type="button" name="close" id="close" value="Close" style="width:100px; height:30px;" onclick="window.close()" /> 
  &nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" name="back" id="back" value="Back" style="width:100px; height:30px;" onclick="window.location='http://prinya-crs.appspot.com/'"  />
</div>

</div>
</body>
</html>
{% endautoescape  %}
